---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./namespace.yaml
  - ./kube-prometheus-stack/ks.yaml
  #- ./alertmanager/ks.yaml
  # - ./grafana/ks.yaml
  # - ./prometheus-operator-crds/ks.yaml
  # - ./kube-prometheus-stack/ks.yaml
  # - ./thanos/ks.yaml
  # - ./node-exporter/ks.yaml
  # - ./omada-exporter/ks.yaml
  - ./gatus/ks.yaml
components:
  - ../../components/flux/globals 
  - ../../components/repos/app-template