---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default


resources:
  - ./namespace.yaml
  - ./echo/ks.yaml
  - ./homepage/ks.yaml
components:
  - ../../components/flux/globals
  - ../../components/repos/app-template

