---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weave-gitops
spec:
  interval: 30m
  chart:
    spec:
      chart: weave-gitops
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
      interval: 12h
  values:
    image:
      # FIXME check the app name
      repository: ghcr.io/weaveworks/wego-app
      pullPolicy: IfNotPresent
      # Overrides the image tag whose default is the chart appVersion.
      tag: "v0.39.0-rc.2" # x-release-please-version
    adminUser:
      create: true
      createSecret: false
      username: admin
    ingress:
      enabled: false
      className: internal
      annotations:
        hajimari.io/icon: sawtooth-wave
      hosts:
        - host: &host "gitops.f-wi.com"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
    networkPolicy:
      create: false
    metrics:
      enabled: true
    rbac:
      create: true
      impersonationResourceNames: ["admin"]
    podAnnotations:
      secret.reloader.stakater.com/reload: cluster-user-auth
