---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://10.11.0.15:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "10.11.0.15"
additionalMachineCertSans: *sans

clusterPodNets: ["10.69.0.0/16"]
clusterSvcNets: ["10.96.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "node1"
    ipAddress: "10.11.0.16"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: true
    talosImageURL: factory.talos.dev/installer-secureboot/0f61e686ef3b7a8406c94da47fb08f2f4ea4e8d4971b8396b91506afd80ba69a
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:5a:03:fe"
        dhcp: false
        addresses:
          - "10.11.0.16/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.11.0.1"
        mtu: 1500
        vip:
          ip: "10.11.0.15"
      - deviceSelector:
          hardwareAddr: "bc:24:11:5a:03:ff"
        dhcp: false
        vlans:
          - # IOT 
            vlanId: 98
            dhcp: false
            addresses:
              - "192.168.98.16/24"

    patches:
      - # Encrypt system disk with TPM
        |-
        machine:
          systemDiskEncryption:
            state:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
            ephemeral:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
  - hostname: "node2"
    ipAddress: "10.11.0.17"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: true
    talosImageURL: factory.talos.dev/installer-secureboot/aeec243e3a4c2a14f9ba74b1a8c7662f03eea658a7ea5f1c26fdd491280c88f8
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:76:3b:95"
        dhcp: false
        addresses:
          - "10.11.0.17/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.11.0.1"
        mtu: 1500
        vip:
          ip: "10.11.0.15"
      # - deviceSelector:
      #     hardwareAddr: "bc:24:11:76:3b:96"
      #   dhcp: false
      #   vlans:
      #     - # IOT 
      #       vlanId: 98
      #       dhcp: false
      #       mtu: 1500
      #       routes:
      #         - network: "192.168.98.0/24"
      #           metric: 2048            
    patches:
      - # Encrypt system disk with TPM
        |-
        machine:
          systemDiskEncryption:
            state:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
            ephemeral:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
  - hostname: "node3"
    ipAddress: "10.11.0.18"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: true
    talosImageURL: factory.talos.dev/installer-secureboot/95d432d6bb450a67e801a6ae77c96a67e38820b62ba4159ae7e997e1695207f7
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:18:dc:71"
        dhcp: false
        addresses:
          - "10.11.0.18/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.11.0.1"
        mtu: 1500
        vip:
          ip: "10.11.0.15"
      # - deviceSelector:
      #     hardwareAddr: "bc:24:11:76:3b:72"
      #   dhcp: false
      #   vlans:
      #     - # IOT 
      #       vlanId: 98
      #       dhcp: false
      #       mtu: 1500
      #       routes:
      #         - network: "192.168.98.0/24"
      #           metric: 2048
    patches:
      - # Encrypt system disk with TPM
        |-
        machine:
          systemDiskEncryption:
            state:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
            ephemeral:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/machine-mirrors.yaml"
  - "@./patches/global/machine-features.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

