---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: grafana
  interval: 1h
  path: "./kubernetes/apps/monitoring/grafana/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: monitoring
  timeout: 5m
  wait: false
