---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
spec:
  path: ./kubernetes/apps/flux-system/flux-instance/app
  targetNamespace: flux-system
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: flux-operator
      namespace: flux-system
    - name: external-secrets
      namespace: external-secrets
  wait: true
  prune: true
  interval: 30m
  timeout: 5m
