---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  - ./descheduler/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./kopia/ks.yaml
  - ./volsync/ks.yaml
  - ./reloader/ks.yaml
  - ./openebs/ks.yaml
  - ./snapshot-controller/ks.yaml
components:
  - ../../components/flux/globals
  - ../../components/flux/alerts