---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: system
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65533
            runAsNonRoot: true
            fsGroup: 65533
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.10.2
            env:
              VENV_FOLDER: /venv
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 2Gi
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              privileged: true  
              capabilities:
                drop:
                  - ALL

      # Configure the code-server sidecar
          code-server:
            dependsOn: app
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.102.2@sha256:8c2aaafb74a2978f48d193135eb3ea6fc0e24563dd59c028b9f1808cefd0fa33
            args:
              - "--auth"
              - "none"
              - "--disable-telemetry"
              - "--disable-update-check"
              - "--user-data-dir"
              - "/config/.vscode"
              - "--extensions-dir"
              - "/config/.vscode"
              - --port
              - "12321"
              - "/config"
            env:
              HASS_SERVER: http://localhost:8123
              TZ: Europa/Berlin
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    service:
      app:
        primary: true
        type: ClusterIP
        ports:
          http:
            port: &appPort 8123          
      code-server:
        ports:
          code-server:
            port: &codePort 12321
    
    serviceMonitor:
      app:
        serviceName: home-assistant
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /api/prometheus
            bearerTokenSecret:
              name: home-assistant-secret
              key: HASS_BEARER_TOKEN

    route:
      app:
        hostnames:
          - hass.f-wi.com
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *appPort
  
      code-server:
        hostnames: ["ha-code.f-wi.com"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *codePort

    persistence:
      config:
        existingClaim: home-assistant-config
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
      sshkey:
        enabled: true
        type: secret
        name: home-assistant-secret
        items:
          - key: id_rsa
            path: id_rsa
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh
            readOnly: true
        
