# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: paperless
    namespace: home
stringData:
    PAPERLESS_ADMIN_USER: ENC[AES256_GCM,data:LPCwFGc=,iv:WwkUIpU4/Ao6rVXc4ilB9OUm4vv250LoLu3eriHboeA=,tag:ATmK3ROML/UJcr3zMCzuSQ==,type:str]
    PAPERLESS_ADMIN_PASSWORD: ENC[AES256_GCM,data:G+qEzVhwSdZ57UvvHys=,iv:QJZoXv9SdUuHgF0XAYhTZ5n7d202HFsTv6kZpHLG+ZY=,tag:tR+2MEiyukfo08ekWMXorA==,type:str]
# PAPERLESS_SECRET_KEY: ZdBxR8MKjKg9sR9GJFDnnvjhpZgcGKh5GfSexufjZQKEfNdosV
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxRkFIbXFmOC9rTnl6eU5y
            MjVVQ0RIODNXc29maERGcmFzR21tOGhNcmx3CnpwK0gvOHA5eTdHazJwdGZkWVpO
            N3QyNktvM1RBWEUwR1BKQjR3aFZZT0EKLS0tIDVIdUZyeDZlY2pDeXRZRE9oaUJS
            YTZkWDg0OFlUakVxeW5yeFZWZkVuZUEKYUEzzcu3vgpdbk20uNiETZnFWMIPVpCa
            m1oO3Eme0dQPynb2ZHxmsVhsj/aqUzhTfgolmWohCVn/ok+teunGbw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-08T06:14:39Z"
    mac: ENC[AES256_GCM,data:2L7wANp55fc8sxtgdFINL//vodVrnNkf8KJkndiacaNbyRx37Qkm4pUiMoouiCulF5ts9SmlYMjcqRn327+smRI0SBsliYv/vpCkTPfhFqGAuf5IdNM84MA8ZEzHFIQfC/M4Ik6OppwMWLgU8HH485r0d/YZ0OKQWHYkXnUMB/o=,iv:T5ooGHVv/dzDxlGzG/rmLK9PYfWogX2UpVr+IpZgiVI=,tag:D2FJfUDAFJ19p2hKIlUaiw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-restic-secret
    namespace: home
type: Opaque
stringData:
    #ENC[AES256_GCM,data:mC1Ef8Gsz/11QySTTqfQ9uOZWKDn2dxO/QPcnMm1HfFVuECEdGOqJqguiLof/J+qZKyB4hA6knYBShPKRoNY5jYno9ICz5nM1QxAvPuz6iE3,iv:gHEqJHjb+lGOG2AA19pQDv52DelxmRmFVIhiqVyBst4=,tag:PaUl2h7Eas1QCK74tAMHxQ==,type:comment]
    RESTIC_REPOSITORY: ENC[AES256_GCM,data:r5OQDCkG/upZaIeilaXZ05Xq/CMEyTxGrvcgmf7ZFZcSVz7E6YRt32E1jPTUXoz+Q/Go8GmA7kc=,iv:rLYuQhpmqLVepmE3ix+tiaWrCXMQ/iThN6edPFf6klg=,tag:UEjc4PnQCJIh5CpFFHMmug==,type:str]
    #ENC[AES256_GCM,data:8mVic6O5YhiZepDVF3Yy+weJRbmDq9xCyKeTFJoULLAiiRZsVN0MxmF7lN4ayDFV3pIV0a7zEo02gblpHkVf/RzFcMyDKCKUakY/QPjEfKgn6lYAOnY8lfkCrmdI4ViztIGTpA==,iv:D8k2fW078oMGSYcHuC+00k5E6m/nBpzrC++Eu+KRCag=,tag:3RQq0jncyXIJPNOj23wkhw==,type:comment]
    #ENC[AES256_GCM,data:f8Vzcj1wVhJ6VawMEvDdx5PJ6m5YLtnq9/UKC3cbHqqJJxpCKGCq/T9cjMearHmBSAUju+W/LMoLJRDQyUqDcPjDkrlF5DNYxaXkIeRaVZIWPbg/GIZ4k6V9Jo+WMvU=,iv:4L7SlpUPmLOhBmoHYrrY36bYg75unuEV6agORch1pGE=,tag:wlfrCkh0xWD773c1pleOmg==,type:comment]
    #ENC[AES256_GCM,data:stDXC9JVGo/tXtjNfxyNRXxyNExIWxLjoczNB61IKg0NS7YZXMbbiFbGcw+8c1jhA+jsb1ifygfMOBg7C2l+Ob2rxBE1g1+D9jH4NvbXwCwDDbsoJQ==,iv:xLhNeGd2AzIwQpLoHfpoL52Bfu5lpqW50tADpvshiGc=,tag:nhWPwmZbByGuvXQmCkxD7g==,type:comment]
    RESTIC_PASSWORD: ENC[AES256_GCM,data:xQgCf4b/PPghi4SNFhK1Nl65,iv:yy9MzMwRXPn9DmqB99HXquZEgXl2I/TcmJuKfisUn4g=,tag:hwzuci9KSOED8aO7JtZ98w==,type:str]
    #ENC[AES256_GCM,data:zMQeY7blzFe0MkPWmRxALOvvlMT9Tq61vE+fvKP4duaz4w==,iv:VXtJLgqXD50eC6+ejns0Qk0f+g/0rcWMRSKI61nj1l0=,tag:Pq4rvttYt/LLibzTiU9edA==,type:comment]
    #ENC[AES256_GCM,data:2QhStbYsIyhGH4x00C/2N+MuNnuYt+pLQrlaxVdWc5qQf1gDf1GusncJitUcMTerTGXZTHNWDcV2INd0CfHefqIDijHVSQ==,iv:YOkdMTPPKp8C6JqYisinocFAMczYjJFxf6js7AFyT7I=,tag:eishpOZvCa9xFu9Q6tq38A==,type:comment]
    AWS_ACCESS_KEY_ID: ENC[AES256_GCM,data:KCKnUBgqvw==,iv:cddv+4q7P8C2XIcvP4ouYz9hDkNVwM+co6EqZ4ydKYM=,tag:ddRCEoa/9TgpylQrOWeSOQ==,type:str]
    AWS_SECRET_ACCESS_KEY: ENC[AES256_GCM,data:0uN0oURAdmhtkzMCRubREqbMJQ==,iv:gWHWK1g59ffy1pD2corwQDSayswNH5jGRvpzsEqxtf0=,tag:0UVTwdI1tLjkGUI7mHfguA==,type:str]
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxRkFIbXFmOC9rTnl6eU5y
            MjVVQ0RIODNXc29maERGcmFzR21tOGhNcmx3CnpwK0gvOHA5eTdHazJwdGZkWVpO
            N3QyNktvM1RBWEUwR1BKQjR3aFZZT0EKLS0tIDVIdUZyeDZlY2pDeXRZRE9oaUJS
            YTZkWDg0OFlUakVxeW5yeFZWZkVuZUEKYUEzzcu3vgpdbk20uNiETZnFWMIPVpCa
            m1oO3Eme0dQPynb2ZHxmsVhsj/aqUzhTfgolmWohCVn/ok+teunGbw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-08T06:14:39Z"
    mac: ENC[AES256_GCM,data:2L7wANp55fc8sxtgdFINL//vodVrnNkf8KJkndiacaNbyRx37Qkm4pUiMoouiCulF5ts9SmlYMjcqRn327+smRI0SBsliYv/vpCkTPfhFqGAuf5IdNM84MA8ZEzHFIQfC/M4Ik6OppwMWLgU8HH485r0d/YZ0OKQWHYkXnUMB/o=,iv:T5ooGHVv/dzDxlGzG/rmLK9PYfWogX2UpVr+IpZgiVI=,tag:D2FJfUDAFJ19p2hKIlUaiw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
