# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: paperless
    namespace: home
stringData:
    PAPERLESS_ADMIN_USER: ENC[AES256_GCM,data:2q5DzhM=,iv:wKstd/5p8aib4zfhD41CUfxcRZk/u1m7N9vVBJXta6s=,tag:DfHuVJKkuotrMdzpA+PDvQ==,type:str]
    PAPERLESS_ADMIN_PASSWORD: ENC[AES256_GCM,data:ffhCyrSg1pgIro7vpKo=,iv:GE7SizLE0kuZWmQVbqEZwh8HRSRu547qZnmKK12wJPo=,tag:2llB7+yq5tllTGNOeM73rQ==,type:str]
# PAPERLESS_SECRET_KEY: ZdBxR8MKjKg9sR9GJFDnnvjhpZgcGKh5GfSexufjZQKEfNdosV
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsNTA5TmFEM1hKc25XUVo1
            QUZnU0FMU21NYmdQQTBxUGpMOXduVE1zcWhNCkJZTHpwTjdpN1NsVlhJaVN2cjdJ
            T05peXdYMUFEKytaNU1oQUJsZ3F2VGcKLS0tIEZzV0JvWldYK2hEZ1p5OXdRdnlm
            NGZZZlVtTUN2SUV0MzBqc1o4dk9FdU0KZPwISQTUGZ482wkYQYpjbTYbpiR+29UX
            06eXrKZZIX2iMKcYZRCK/4G5JXMdrWbAwwzlqa+qVesErmEEWYKg7g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-10T07:06:24Z"
    mac: ENC[AES256_GCM,data:gkhg5E47afCtgVHA6NUl4ADmY7PC/6cjST62T/dfb3WshCUnj8KyPwOjap/uc1SnVw5OeLspKxxlRRgzLCrpFa85x3bDyXIcxpSa3ehs4i959wVL980yrLWiSPxReAu77SAOqBcMbDLFW6QI19Tk/g9PDPRk1ayFsMQ4l9Kf7Is=,iv:s4H7TiiIwZuIoEOuDtSlL5n2sQ9mRf6e/Lwq24Qcdow=,tag:5L5mYkqYEOyCeQNHZYWIug==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-restic-secret
    namespace: home
type: Opaque
stringData:
    #ENC[AES256_GCM,data:tDTAWCEVFJxwFg3shRMYcQKt0tKwZuaqa6nkX8f3PmepJB4iGwXryLGtpAfyxQaVE9VP5DC2txczyVYFqvYwlwDOUPt2D1FcG+yDO1LVGwM1,iv:jj3JaCNpMSW6E7QSOEQ+7KItXkU8n4pvJ96i2ykgrlI=,tag:jb1ZN+FsqjxEZv4y4DO3Gw==,type:comment]
    RESTIC_REPOSITORY: ENC[AES256_GCM,data:fP0q8j1u8/ahtmwrZ7uEs8xx8wsmnDoqSVmtbkBJPwaNhZoQVYTuiMcprmDClC8hK76WaugUu68=,iv:G3zSBlz0+b5rPEs+HkcfgTi6XIh4q5FkmH39gvbWgbc=,tag:GQdNPFXwTFM5ldu/umEkdA==,type:str]
    #ENC[AES256_GCM,data:UwUwvQeOEB5+uHWUZAFxOrNj93wv+pU9VPxEnMohiyeB7xkoLu1utuuHGocZx+1bNr7CtxF5rOERjx8+yKfxEzjMer+sXW9LHPWlFxaTFkbZyvLN+vgcLqXSeOT4VyIdndQeTQ==,iv:/A9R1YL6kjh9zqAK1XONg0bm8r+eQsxkmbsm5gzy84s=,tag:dFgNL/++ScMVXgqvtd4PVg==,type:comment]
    #ENC[AES256_GCM,data:ALjeMy7vqO169xqmYYPPrTVlZoRGH47sA5XgMX+9TdbflngrvX2c/+eOvjsMQkuWgtgnJSGRHkrVbHkifZbC2dnpqvhYPE03tH9tNCsDTs5FlFE/qCwucBWz+BSoUdg=,iv:9bGBPqP+ohPy/ma0gnVCHfd2zGIxY1Z1yr5mPGJaRZ0=,tag:7pBJORUPsq4XBPiH/ZOElg==,type:comment]
    #ENC[AES256_GCM,data:0ScLKKwQ3BWHJzLissT+K4l8vMUypwHBK+6NH7F4/9ntZDKUBoBS8jFWK4eIKw7fQxtOlyoro03U4yv/Ue4aHV/PC8PWsV44jAmQuFW2cdHfcu/K5w==,iv:4/Pka4AMZ0ppwgEj96AOhAp9tg8zUkgHXagCqLdmiFw=,tag:wJi8I8URCd1QCJIARnrSfQ==,type:comment]
    RESTIC_PASSWORD: ENC[AES256_GCM,data:L/KfqlMhe/Ts9AJhpx02LA7Q,iv:493lS7psNI5qMJqEIchrxCUBj1+WfoLcnxlv3SBxQ6I=,tag:8yOSuueovd/M92ST50nbSw==,type:str]
    #ENC[AES256_GCM,data:Dpr1o/aNZjBGdXAE/ycIKQr5iajOv4kG3yEISx38nPeXzg==,iv:Pmtpe/QJE7vcMoOr4JYcxmZexp4G5jvR1XLnM4h0L2Q=,tag:EVcGFB94b/xHHmgp7Sw4ow==,type:comment]
    #ENC[AES256_GCM,data:f5e8SNAp/0wJmpuG/qy0QQ0+ULfYonhndl1RZ3j5bTSKuclk4yAaevXnbt7/JfycQsRgRgaMqSu0VsOljHOur9GH3V5w4g==,iv:Hy0fHmQWGiUtxQRIUL8F4pWMbppw5G+00nV6hn1VQ5I=,tag:6rhAXmtvQq5HDWdVFavggg==,type:comment]
    AWS_ACCESS_KEY_ID: ENC[AES256_GCM,data:KyzpXAk3XA==,iv:m8ohyvxHwemm1odo1/xSDRqhYjqPRb1rO9xJduwkPZw=,tag:ovAa/OJ+RyeaH0xJPV3AxA==,type:str]
    AWS_SECRET_ACCESS_KEY: ENC[AES256_GCM,data:yGb01h3qxMATw3w9iV/WyO3aqw==,iv:nfSNvTY5Yj8XyYmSR7UII8DL0zq3jzdbAQzyZUf/knk=,tag:ueuzHM3n2dTSCyek/EY1Jg==,type:str]
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBsNTA5TmFEM1hKc25XUVo1
            QUZnU0FMU21NYmdQQTBxUGpMOXduVE1zcWhNCkJZTHpwTjdpN1NsVlhJaVN2cjdJ
            T05peXdYMUFEKytaNU1oQUJsZ3F2VGcKLS0tIEZzV0JvWldYK2hEZ1p5OXdRdnlm
            NGZZZlVtTUN2SUV0MzBqc1o4dk9FdU0KZPwISQTUGZ482wkYQYpjbTYbpiR+29UX
            06eXrKZZIX2iMKcYZRCK/4G5JXMdrWbAwwzlqa+qVesErmEEWYKg7g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-10T07:06:24Z"
    mac: ENC[AES256_GCM,data:gkhg5E47afCtgVHA6NUl4ADmY7PC/6cjST62T/dfb3WshCUnj8KyPwOjap/uc1SnVw5OeLspKxxlRRgzLCrpFa85x3bDyXIcxpSa3ehs4i959wVL980yrLWiSPxReAu77SAOqBcMbDLFW6QI19Tk/g9PDPRk1ayFsMQ4l9Kf7Is=,iv:s4H7TiiIwZuIoEOuDtSlL5n2sQ9mRf6e/Lwq24Qcdow=,tag:5L5mYkqYEOyCeQNHZYWIug==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
