# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: paperless
    namespace: home
stringData:
    PAPERLESS_ADMIN_USER: ENC[AES256_GCM,data:2MCiMz0=,iv:gZ1RuvSZ/QYk0yc8IPrmDf8pa9S7ceWJGchPWjuo9og=,tag:ZH4GMs3yk60PQ5FMDdTtwQ==,type:str]
    PAPERLESS_ADMIN_PASSWORD: ENC[AES256_GCM,data:af9WFdbIGR3+t6nEnNg=,iv:scpnbeHvfdynZFHPp2foxDpk1c+TXKDevaRuxqYBxQE=,tag:2Vbpn6BGAv5SOsLtcIfyow==,type:str]
# PAPERLESS_SECRET_KEY: ZdBxR8MKjKg9sR9GJFDnnvjhpZgcGKh5GfSexufjZQKEfNdosV
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJYUdKNUVIVHZSRXZEZlM1
            RG1Db2pjNlNaYzR5YU5WaXEvZHVPMW1kb2xvCmMzVjgxVmRoS3YvN2thOUFua0I3
            clAzamVQeTZUVGo2cGpVT1hpU0MxUWMKLS0tIFh3T01pZk1DUWYzcFNlL2YzWkFB
            V00wLzhxSzcvZnFDQk1uR1BDYkZaRmMKfK+yMETNwWMPqJXkk//cnJCyURfWPsdZ
            VmsJdywA0i7fVkFm4KODSlBYty7tnScT35w9Cy26XewNjBSdX2MDbA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-08T06:13:26Z"
    mac: ENC[AES256_GCM,data:7GQNNbNCN6YCc+1jsE/NaPHGsRKZGQQnSkHCZrbGcwg4Rm/EML8YeFWOd/rbBW3xtMTTdiUz77Ndx/iEObOaOtbKnDbXndy5E5GONq0AIobVDsYlEUyUHAk/tEOa08n3UVsatGlqAbFL/dCv+7GkWWxquEL082WnHSOcmLH1N/I=,iv:nkMhOCsv+Uq11ILiatb6EWBjXwtAEgXl6dey96tjXM0=,tag:cjKzphBNFRR1iVbek0TAEw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
---
apiVersion: v1
kind: Secret
metadata:
    name: paperless-restic-secret
    namespace: home
type: Opaque
stringData:
    #ENC[AES256_GCM,data:RMSJ7WPrf1Z+yhh8724wTzVcbm8AjUOzNBABxdTQr01i3PGx0u7U0CUcRpYh5xIuuE1jR3KSbeArHpgOUy7tj8vigMx4lwJRqaqzh3iAKDSn,iv:p2PICMCJDS5KPBUEWILIDCgyIRD+yUZCSy4W/DLEEqU=,tag:BbOe3HCIjGtQgi2MsinVVQ==,type:comment]
    RESTIC_REPOSITORY: ENC[AES256_GCM,data:69LGwfs6KlAqxb9SNTUkE3+3v5lpHD55FyHTrzjmSYH6dQ5Ub/8LmlrAXiZW1vbcPBe5,iv:yWCg0NKPFn6mDmjT8nDInLZMu2vTetEANva/cjdmM6Y=,tag:p5JxOBrESGYzurSSujJp6A==,type:str]
    #ENC[AES256_GCM,data:FGEuufulD3IxGMemohkqdGuPRddLMVpQ6ZTlJOS5b7gg9RWdCwZ+2PSDQyEDdyj0NbBdeyS9FJvteAciAKm59GOgzIc7bbBqGWGNIufXKSkvYgl8zI8oWFVux5hE2hKc/qa+Mw==,iv:bW6kRfhMdwit245b0vmlEtbJ0BKgxnQiAzkwx1UqhAM=,tag:j5ymyztSNm8TI/E6SPoOQw==,type:comment]
    #ENC[AES256_GCM,data:ofXmk2ATOF3XceJehHGDBKnNVYeNa0eq1VgrqqCipcV4O0kBsVLngwKbABbIkY8YH4rclPoYFnPQOclHiXKohSw6wLAjsoZwgMKAhO6SDLnrXBaMjO4xdSayGNfx7Qg=,iv:FkAMcKeuy1hhqwNfCq/YmUSpZYvDwoAfW5OLJMu0BPQ=,tag:vsonvxm5jzxJ1jBPDhNN6w==,type:comment]
    #ENC[AES256_GCM,data:4vtsvYAD1vFHTToVhVWecxetZ4JNlxOCeElNxfEY8y9Ro1Z3BEOSi07/fpwHTL2kq95Ua8zljz+vgPHXtDo5Kd2TvNaD4NAeCBpyEQ3pybiPZJgyGg==,iv:AuDBnAXbMLDlhV9He19D0pNyEyr3/sV7wwHA03jnJWs=,tag:Y2XHWvRHsDL4VtF/1ZCxZA==,type:comment]
    RESTIC_PASSWORD: ENC[AES256_GCM,data:2s5tJeWUsUKY9TT4LvVPwMOu,iv:D/JcS1Z4xQvDGH1LAxPFm9Oy+qc+1FABUKgkhKNqHYU=,tag:lfiiBeGAdyW2gH1fDBOhNA==,type:str]
    #ENC[AES256_GCM,data:Yc1rbdscz0Rsw/3GQTnLw1spTuRnHzov+6l0JxU0P9faaQ==,iv:aRjFCs9PC7cu/4rdEK5/oxRzQDvHlqmKy5nR+3svgIU=,tag:zlTG3PWOfl+MIccHgOqHjA==,type:comment]
    #ENC[AES256_GCM,data:D74neIsU1Y1gTIKXGuI5LkT4V/iHRa2YbPW9mlzkEERqmmLdKdWOInCoV3ov9S9gvOPe+aBoOfWWVQt2p+WvTCeWpIOhyg==,iv:x9e+2HCEd2AHuBBUxonasWSI43QDjPo/DY7i5cUSmF0=,tag:kHfXR4BMCCQk0Yno0utddg==,type:comment]
    AWS_ACCESS_KEY_ID: ENC[AES256_GCM,data:9Qd4UicX+A==,iv:pnLzPdUprzY/MjXuEuwRyc4vFnHaSqxYS+kqYqNsCHk=,tag:hR10HBycTWTA0zeHYt7/OQ==,type:str]
    AWS_SECRET_ACCESS_KEY: ENC[AES256_GCM,data:XKO2lUYRCP1ASlaRbGQjRTasRw==,iv:Pctirv/LWQDBzqc4pIUf20laDFlav8oMfUdriDqNE88=,tag:4+g9sR7aN/3V5Pvt8cbV4A==,type:str]
sops:
    age:
        - recipient: age12tjmxahz7dw8cravyesrycrazrzqkff03qk8hqnsrnsu5k3frdqskv4kcd
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJYUdKNUVIVHZSRXZEZlM1
            RG1Db2pjNlNaYzR5YU5WaXEvZHVPMW1kb2xvCmMzVjgxVmRoS3YvN2thOUFua0I3
            clAzamVQeTZUVGo2cGpVT1hpU0MxUWMKLS0tIFh3T01pZk1DUWYzcFNlL2YzWkFB
            V00wLzhxSzcvZnFDQk1uR1BDYkZaRmMKfK+yMETNwWMPqJXkk//cnJCyURfWPsdZ
            VmsJdywA0i7fVkFm4KODSlBYty7tnScT35w9Cy26XewNjBSdX2MDbA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-08T06:13:26Z"
    mac: ENC[AES256_GCM,data:7GQNNbNCN6YCc+1jsE/NaPHGsRKZGQQnSkHCZrbGcwg4Rm/EML8YeFWOd/rbBW3xtMTTdiUz77Ndx/iEObOaOtbKnDbXndy5E5GONq0AIobVDsYlEUyUHAk/tEOa08n3UVsatGlqAbFL/dCv+7GkWWxquEL082WnHSOcmLH1N/I=,iv:nkMhOCsv+Uq11ILiatb6EWBjXwtAEgXl6dey96tjXM0=,tag:cjKzphBNFRR1iVbek0TAEw==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
